/* nav {
    display: flex;
    justify-content: end;
    gap: 10px;
}*/
#home{
   position: relative;
   width: 100%;
   display: flex;
   justify-content:center;
   align-items: center;
   background-image: linear-gradient(to right, rgba(144, 238, 144, 0.153), white);
}
#home .text-div{
   position: relative;
   max-width: 600px;
   padding-left: 20px;
}
#home .text-div h1{
   color: blue;
}

#home .text-div p{
   color: gray;
}
#home .text-div a{
   display: inline-block;
   margin-top: 20px;
   padding:15px;
   background-color: blue;
   color: white;
   border-radius: 10px;
   letter-spacing: 1px;
   text-decoration: none;
}
/* @media (min-width:641px) {
   .main {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .join-text-img {
      display: flex;
      justify-content: center;
   }

   .img-hed-p {
      box-shadow: 3px 3px 3px 3px;
      width: 17%;
      height: auto;
      margin: 10px;
      display: flex;
   }

   .content {
      display: flex;
      justify-content: center;
      margin-top: 50px;
   }

   .img-hed-p {
      box-shadow: 3px 3px 3px 3px;
      width: 17%;
      height: auto;
      margin: 10px;
      display: flex;
   }

}

.main {
   position: relative;
   width: 100%;
   justify-content: center;
   align-items: center;
}

.main .text {
   position: relative;
   max-width: 600px;
   background-color: beige;
   padding-left: 20px;
}

.main .text h3 {
   color: blue;
}

.main .text h2 {
   color: darkblue;
}

.main .text p {
   color: gray;
}

.main .text a {
   display: inline-block;
   margin-top: 20px;
   padding: 15px;
   background-color: blue;
   color: white;
   border-radius: 10px;
   letter-spacing: 1px;
   text-decoration: none;
}

h4 {
   text-align: center;
   color: blue;
}


.join {
   box-shadow: 2px 2px 2px 2px;
   margin: 10px;
   height: auto;
   max-width: 300px;
}

.join h2 {
   text-align: center;
   color: darkblue;
}

.join p {
   text-align: center;
   color: gray;
}

.join img {
   display: flex;
   margin: auto;
}

h2 {
   text-align: center;
   color: darkblue;
}

.img-hed-p {
   box-shadow: 3px 3px 3px 3px;
   max-width: 300px;
   height: auto;
   margin: 10px;
   display: flex;
}

.img-hed-p img {
   height: 50px;
   width: 50px;
   margin: 10px;
}

.img-hed-p h1 {
   color: darkblue;
}

.img-hed-p p {
   color: gray;
   margin-top: 30%;
   margin-left: -30%;
}

.content {
   justify-content: center;
   margin-top: 50px;
}

.aboutLastPage {
   display: flex;
   margin-top: 10%;
   margin-left: 90px;
}

.aboutLastPage h1 {
   color: darkblue;
}

.aboutLastPage img {
   max-width: 60%;
   max-height: 99%;
}

.aboutLastPage h2 {
   color: darkblue;
}

.aboutLastPage a {
   margin: 5px;
   text-decoration: none;
} */

/* .services-main{
   text-align: center;
}
.services{
   text-align: center;
   color:#2727a5;
}
.services-card-design{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.card{
   margin: 20px;
   width: 280px;
   height: 400px;
   border-radius: 10px red;
   background-color: white;
   box-shadow: 0 3px 0 0px;
}
.card:hover{
   transform: scale(1.1);
}
.card img{
   width: 100%;
   border-radius: 10px;
   margin-top: 5px;
}
.card p{
   text-align: center;
   color: gray;
}
.card h2{
   text-align: center;
}
button{
 margin-left: 90px;
  border: none;
  color: green;
  background-color: white;
} */
/* .team-main{
   text-align: center;
}
.team{
   text-align: center;
   color:gray;
}
.card-design{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.card{
   margin: 20px;
   width: 280px;
   height: 400px;
   border-radius: 10px;
   background-color: white;
   box-shadow: 0 5px 0 0px;
}
.card:hover{
   transform: scale(1.1);
   color: #5969f3;
}
.card img{
   width: 100%;
   border-radius: 10px;
}
.card p{
   text-align: center;
   color: gray;
}
.card h1{
   text-align: center;
} */
/* .blog-main{
   text-align: center;
   color: #4154f1;
}
.blog-head{
   text-align: center;
   color:rgb(50, 50, 203);
}
.blog-card-design{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.blog{
   margin: 20px;
   width: 300px;
   height: 420px;
   border-radius: 10px;
   background-color: white;
   box-shadow: 0 5px 0 0px;
}
.blog:hover{
   transform: scale(1.1);
   color: #5969f3;
}
.blog img{
   width: 100%;
   border-radius: 10px;
}
.blog h2{
   text-align: center;
   color:rgb(50, 50, 203);

}
.blog p{
   text-align: center;
   color: gray;
}
button{
   border: none;
}  */

/* .contact {
   background-color: rgba(174, 227, 245, 0.364);
   padding: 20px;
}

.contact h1 {
   color: darkblue;
   text-align: center;
}

.contact p {
   color: gray;
   text-align: center;
}

.contact input {
   padding: 10px;
   width: 40%;
   margin-left: 25%;
   margin-bottom: 10px;
}

.contact button {
   padding: 10px;
   border-radius: 5px;
   background-color: blue;
   color: white;
   text-decoration: none;
   font-size: 18px;
}

@media (max-width:375px) {
   .contact button {
      padding: 10px;
      border-radius: 5px;
      background-color: blue;
      color: white;
      text-decoration: none;
      font-size: 18px;
      margin-left: 80px;
   }
} */

/* @media (min-width:670px) {
   .textcontact {
      background-color: white;
      padding: 20px;
      display: flex;
   }
   .textcontact h3{
      text-align: center;
      color: darkblue;
   }
   
}
.textcontact h3{
   color: darkblue;
}
.textcontact p{
   color: gray;
}
.textcontact li {
   margin: 20px;
   list-style-type: none;
   color: blue;
   font-weight: 400;
}

.textcontact .address span {
   color: black;
   font-weight: 600;
}
.textcontact .address li {
   color: black;
}

.copyright{
   text-align: center;
   color: darkblue;
}
.copyright span{
   font-weight: 700;
} */